*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SimSun";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    color: $secondary;
    text-decoration: none;

    
}

.container{
    max-width: 1100px;
    width: 100%;
}

h1{
    font-size: 100px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 36px;
}

h5{
    font-size: 22px;
}