*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SimSun-ExtB", sans-serif;
    font-size: 72pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 1340px;
    width: 100%;
}

h1{
    font-size: 130px;
}
h2{
    font-size: 44px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 20px;
}
